@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Tangerine&display=swap");

#mySidenav{
  z-index: 9;
}

@keyframes fall {
	
	100% {
		transform: translateY(0);
}
	
}
#logoutbtn{
 cursor: pointer;
 
}
#lessonLink{
  color:blue;
}
/* Change the values in here to match your branding */
:root {
  /* Background color of the page */
  --background-color: #370442;

  /* Color of the text/words */
  --text-color: #fff;

  /* Main color of your brand */
  --color-primary: #df13f2;
  --color-styley:  rgb(233, 231, 79);
  /* Secondary color of your brand */
  --color-secondary: #418dff;

  /* Which font you want to use */
  --font: "Inter", sans-serif;

  /* Color of the border around items */
  --border-color: rgba(255, 255, 255, 0.689);
  
}

.wallet-adapter-button.wallet-adapter-button-trigger{
  position: relative;
  margin-left: 25px;
  width: 200px;
  background-color: #800080;
}
/* --- Don't need to modify below here --- */

/* Default design values of the entire document */

body {
  background: var(--background-color);
  font-family: var(--font);
  color: var(--text-color);
 
  display: flex;
  margin: 0;
  text-align: center;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
@media screen and (max-width: 500px) {
  .openBtn{
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
  }
}
